<% content_for :title, "Projects" %>

<div class="container">
  <%= link_to "â† Back to Dashboard", dashboard_path %>
  
  <div class="header-actions">
    <h1>Projects</h1>
    <%= button_to "Add New Project", new_project_path, class: "btn btn-primary", :method => :get %>
  </div>
  
  <% if @projects.any? %>
    <div class="projects-grid">
      <% @projects.each do |project| %>
        <article class="project-card">
          <div class="flex flex-col items-center">
              <%= image_tag project.cover_image, class: "w-full object-cover", style: "max-width: 16rem;" %>
              <div class="w-full mt-4 grid grid-cols-2 sm:grid-cols-4 gap-2">
                <% if project.gallery_images.attached? %>
                  <% project.gallery_images.each do |image| %>
                    <div class="overflow-hidden rounded-lg shadow hover:shadow-lg transition-shadow duration-200">
                      <%= image_tag image, class: "hover:scale-105 transition-transform duration-200", alt: "Gallery image", style: "width: 500px; height: 150px; object-fit: cover;" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
          </div>

          <div class="project-content">
            <h3><%= link_to project.title, edit_project_path(project) %></h3>
            <p><%= truncate(project.description, length: 100) %></p>
            
            <div class="project-tools">
              <% project.tools_array.each do |tool| %>
                <span class="inline-block bg-blue-100 text-blue-800 text-xs font-semibold mr-2 mb-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900 border border-blue-200">
                  <%= tool %>
                </span>
              <% end %>
            </div>

            <div class="project-actions flex flex-row gap-2 pt-4">
              <%= button_to "Edit", edit_project_path(project), class: "secondary", method: :get %>
              <%= button_to "Delete", project, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      <p>No projects yet.</p>
    </div>
  <% end %>
</div>


<style>
  .project-actions button {
    margin-bottom: 0;
  }
</style>